
html, body {
    overflow: visible;    /* zorgt dat pagina scrollt als hij groter is dan het window */
    background-color: #141313;  
    color: #fff9f9;
    font: Verdana, Arial, Sans-Serif;
    margin:0;
}


main {
    margin: 0 auto; /* boven en onder geen marge, links en rechts marge gelijk verdeeld (gecentreerd) */
    width: 1400px;
}


article {
    text-align: justify;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    
}


header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    padding: 20px;
    padding-left: 50px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    padding:25px;
    margin: 10px 0px;
    border:10px outset;
    background-color:#6ddd73
    
    
    }

p {
  margin: 10px 0px;
  font-family: 'lato', Arial, Helvetica, sans-serif ;
}
/* Layout voor specifieke pagina's */

img{
    float: right;
    margin:25px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-color: #adadad;
    border-radius: 3px;
  

}

/* Opmaak */

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.introStyling {

    border-top: solid 2px;
    padding-top: 15px;
    border-color: #dbdbdb;


}

#introIslam{
    margin-bottom: 50px;
}

h3{
    margin-top: 5px;
}

.lijstVanGebruiken{
    margin-top: 8px;
}
#laatsteListItemJodendom{

    margin-bottom: 10px;

}

#karel{
   margin: 20px;  
}
.textOnder{
    padding-bottom:50px;
}
#sjahada{

    font-size:  24px;;
}







/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    width: 7em;
    position:absolute;
    height:100%;
    background-color: #adadad;
    overflow:hidden;
    font-size: 26px;
    font-family:'lato',Arial, Helvetica, sans-serif;
    text-align: left;
    border:ridge;
    
}

nav ul li {
    float: left;
}

nav li a {
    display:block;
    color: rgb(255, 255, 255);
    padding: 10px 24px;
    text-decoration-color: rgb(255, 255, 255);
    border: none;
    border-radius:2px ;
}

nav li a:hover {
    color :rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    
}

nav li a.active {
   text-decoration-color: #5fd854;
    color:#5fd854;
}




